html, body {
    background-color: rgb(26, 26, 26);
    background-image: url(Static/background.svg);
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: 200px;
    min-height: 50%;
}

* {
    margin: 0 auto;
    padding: 0;
}

header {
    -webkit-app-region: drag;
    background-color: rgb(30, 30, 30);
    height: 50px;
}

.exit {
    -webkit-app-region: no-drag;
    color: 	gray;
    position: relative;
    float: right;
    font-size: 30pt;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    margin-right: 15px;
    margin-top: 5px;
}

.exit:hover {
    cursor: pointer;
    color: 	#ff2352;
    text-shadow: 0 0 10px #d11f46
}

.logo {
    position: relative;
    width: 40px;
    float: left;
    margin: 5px;
}

.title {
    position: absolute;
    width: 80px;
    margin-top: 25px;
}

#panel {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 60px;
    height: 100%;
    background-color: rgb(30, 30, 30);
    z-index: -1;
}

.link1 {
    position: relative;
    top: 65px;
    margin-left: 10px;
    color: rgb(70, 70, 70);
    font-size: 25pt;
}

.link2 {
    position: relative;
    top: 85px;
    margin-left: 10px;
    color: rgb(70, 70, 70);
    font-size: 30pt;
}

.link3 {
    position: relative;
    top: 105px;
    margin-left: 10px;
    color: rgb(70, 70, 70);
    font-size: 30pt;
}

.link4 {
    position: relative;
    top: 125px;
    margin-left: 10px;
    color: rgb(70, 70, 70);
    font-size: 30pt;
}

.link1:hover {
    background: -webkit-linear-gradient(#66C1AE, #00999B);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link2:hover {
    background: -webkit-linear-gradient(#66C1AE, #00999B);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link3:hover {
    background: -webkit-linear-gradient(#66C1AE, #00999B);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link4:hover {
    background: -webkit-linear-gradient(#66C1AE, #00999B);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#console {
    position: absolute;
    resize: none;
    height: 665px;
    top: 55px;
    width: 1200px;
    left: 65px;
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    font-size: 14pt;
}