:root {
    --background-color: rgb(26, 26, 26);
    --header-color: rgb(30, 30, 30);
    --text-console: #fff;
    --back-console: rgb(20, 20, 20);
    --image: url(Static/background.svg);
}

[data-theme="light"] {
    --background-color: rgb(212, 212, 212);
    --header-color: rgb(255, 255, 255);
    --text-console: rgb(0, 0, 0);
    --back-console: rgb(228, 228, 228);
    --image: url(Static/background_light.svg);
}

html, body {
    background-color: var(--background-color);
    background-image: var(--image);
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: 200px;
    min-height: 50%;
}

* {
    margin: 0 auto;
    padding: 0;
}

header {
    -webkit-app-region: drag;
    background-color: var(--header-color);
    height: 50px;
}

.exit {
    -webkit-app-region: no-drag;
    color: 	gray;
    position: relative;
    float: right;
    font-size: 30pt;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    margin-right: 15px;
    margin-top: 5px;
}

.exit:hover {
    cursor: pointer;
    color: 	#ff2352;
    text-shadow: 0 0 10px #d11f46;
}

.minus {
    -webkit-app-region: no-drag;
    color: 	gray;
    position: relative;
    float: right;
    font-size: 30pt;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    margin-right: 15px;
    margin-top: 5px;
}

.minus:hover {
    cursor: pointer;
    color: 	#ffffff;
}

.logo {
    position: relative;
    width: 40px;
    float: left;
    margin: 5px;
}

.title {
    position: absolute;
    width: 80px;
    margin-top: 25px;
}

.link1 {
    position: absolute;
    left: 130px;
    top: 15px;
    margin-left: 10px;
    color: rgb(70, 70, 70);
    font-size: 20pt;
    z-index: 15;
}

.link1:hover {
    background: -webkit-linear-gradient(#66C1AE, #00999B);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#console {
    position: absolute;
    resize: none;
    height: 25px;
    bottom: 0px;
    width: 1200px;
    left: 0px;
    border: none;
    background-color: var(--back-console);
    color: var(--text-console);
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    font-size: 16pt;
}

#output {
    position: absolute;
    resize: none;
    height: 630px;
    top: 60px;
    width: 1190px;
    left: 10px;
    border: none;
    background-color: transparent;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    font-size: 16pt;
}